.inline___button{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -28px;
}
.inline___button a{
    text-decoration: none;
    color:blue;
}
.inline___button Button {
    background-color:#1a73e8;
    color: white;
    height: 30px;

}
.inline___button Button:hover{
    background-color: blue;
}
.asdf{
    width: 350px;
}
@media only screen and (max-width: 600px) {
    .asdf{
        width: 100%;
    }
    .inline___button{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0px;       
    }
}